<h2 mat-dialog-title>{{ isEditMode ? "Edit" : "Add" }}</h2>
<form [formGroup]="co2Form">
  <div mat-dialog-content>
    <mat-form-field appearance="fill" class="form-selector">
      <mat-label>Choose a sector</mat-label>
      <select matNativeControl formControlName="sector">
        <option *ngFor="let sectorItem of sectors" [value]="sectorItem">
          {{ sectorItem }}
        </option>
      </select>
      <mat-error *ngIf="co2Form.get('sector').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-label>CO2</mat-label>
      <input formControlName="value" matInput type="number" />
      <mat-error *ngIf="co2Form.get('value').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-label>Feeling</mat-label>
      <input
        readonly
        formControlName="emoji"
        matInput
        type="text"
        tabindex="-1"
        (click)="selectEmoji()"
        [value]="co2Form.value.emoji"
      />
      <button matSuffix mat-button (click)="selectEmoji()">Edit</button>
      <mat-error *ngIf="co2Form.get('emoji').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      color="primary"
      type="submit"
      cdkFocusInitial
      (click)="submitForm()"
    >
      Submit
    </button>
  </div>
</form>
