.co2-table {
  width: 100%;
}

.actions-buttons {
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .mat-column-actions {
  text-align: right;
}

.red-cell {
  color: red;
}

.green-cell {
  color: green;
}
